
.menuAdmin{
	font:bold 2.20em "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666; 
	/*padding:10px 0; */
	margin-bottom:5px;
}


.submenu{
	font-size: 1.6em;
	/*text-decoration: underline;*/
	font-style: italic;
}

#acciones {
	padding-left:20pt;
}
#menuAgregar,#menuModificar,#menuImagenes{
	margin-bottom:8pt;
}

#accCat, #accCon{
	padding-left:20pt;	
}

#agregarP {margin-top:10pt;}
#modificarP {margin-top:10pt;}
#agregarC {margin-top:10pt;}
#modificarC {margin-top:10pt;}
#optionsI { margin-bottom:5pt;color:blue; }

table { border-collapse: collapse;
					   border: 1px solid black;}
table td { padding: 5px;	 border: solid #000 1px;}

table#tablaCategorias { border-collapse: collapse; }

.sinBorde  tr td { 
	border-style: hidden !Important;
}

.center {
	text-align:center;
}

.boton {
	border-style:none;
	background:url(images/login.png);
	width:160px; height:26px;
}

.resultado{
	 border-bottom: solid 1px; border-color:#ddd #fff; 
	 padding-bottom:20px; margin-bottom:5px;
}
.resultado p {
	font:1.2em "Trebuchet MS", Arial, Helvetica, sans-serif; color:#0033FF;
}

.tdheader {
    background-color: #E0EBF6;
    border-color: #0033FF;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}
