<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="es-ES" xml:lang="es">
<head>    
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{titulo}</title>

    <script type="text/javascript" src="templates/template1/js/script.js"></script>
    <link rel="stylesheet" href="templates/template1/styles/style.css" type="text/css" media="screen" />
</head>

<body>
    <div id="page-background-gradient"></div>
    <div id="page-background-glare">
        <div id="page-background-glare-image"></div>
    </div>
    <div id="main">
        <div class="Sheet">
            <div class="Sheet-tl"></div>
            <div class="Sheet-tr"></div>
            <div class="Sheet-bl"></div>
            <div class="Sheet-br"></div>
            <div class="Sheet-tc"></div>
            <div class="Sheet-bc"></div>
            <div class="Sheet-cl"></div>
            <div class="Sheet-cr"></div>
            <div class="Sheet-cc"></div>
            <div class="Sheet-body">
              <div class="Header">
                    <div class="Header-png"></div>
                    <div class="Header-jpeg"></div>
                    <div class="Logo">
                        <table width="800" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td width="193">
									<div align="center">
										<IMG SRC="img/logo_blue.png" ALT="logo" width="75" height="75">
									</div>
								</td>
								<td width="607">
									<div align="right">
										{header}
									</div>
								</td>
							</tr>
						</table>
                    </div>
              </div>
                <div class="nav">
                	<div class="l"></div>
                	<div class="r"></div>
                	<div class="nav-center">
                	<ul class="menu">
                		<li>
                			<a href="index.php?mc=inicio" class=" active"><span class="l"></span><span class="r"></span><span class="t">Inicio</span></a>
                		</li>                				
                		<li>
                			<a href="index.php?mc=plantel"><span class="l"></span><span class="r"></span><span class="t">Plantel</span></a>
                		</li>
						<li>
                			<a href="index.php?mc=horarios"><span class="l"></span><span class="r"></span><span class="t">Horarios</span></a>
                		</li>
                	</ul>
                	</div>
                </div>
              <div class="contentLayout">
				<p align="center">
					{maincontent}
				</p>
              </div>
                <div class="cleared"></div>
				<div class="Footer">
					<div class="Footer-inner">
					<div class="Footer-text">
						{footer}
					</div>
				</div>
				<div class="Footer-background"></div>
                </div>
        		<div class="cleared"></div>
            </div>
        </div>
        <div class="cleared"></div>
    </div>
</body>
</html>
